h1 {
    /* width: 50%; */
    margin: auto;
    text-align: center;
    font-size: 20rem;
   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJmaMUy6KNqMcgSZvj8IlCMsEQEoXBhRTNQ&s);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 2s linear infinite;
}
body{
    background-color: black;
}
@keyframes animate {
    to {
        background-position-x: -500px;
    }
}