    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        height: 100%;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    body {
        font-size: 2rem;
    }

    header {
        display: grid;
        padding: 30px;
        grid-template-columns: 3.5fr 6.5fr;
        margin: auto;
        justify-content: space-between;



        .left {
            display: flex;
            justify-content: space-between;

            ul {
                gap: 20px;
                display: flex;

                li:nth-child(1) {
                    text-decoration: underline;
                    text-decoration-color: #F1BC00;
                    text-underline-offset: 10px;
                }
            }

            .sign_in {
                display: flex;
                gap: 10px;
                align-items: center;

                i {
                    color: #F1BC00;
                }

                p {
                    margin-left: 0px;
                }
            }

            .fa-bars {
                display: none;
            }
        }
    }

    main {
        .lambo {
            margin-top: 30px;
            position: relative;

            .safer {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(-30%, -20%);
                color: black;

                h1 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 20px;
                    font-size: 2rem;
                }

                button {
                    margin-top: 15px;
                    background-color: #21408E;
                    color: white;
                    font-size: 1.5rem;
                    padding: 5px 20px;
                    border-radius: 20px;

                }
            }
        }

        .book_car {
            width: 90%;
            background-color: #C4C4C4;
            margin: auto;
            padding: 23px 35px;
            margin-top: 30px;

            h1 {
                font-size: 2.5rem;
            }

            p {
                width: 70%;
                margin-top: 10px;
            }

            .location {
                display: grid;
                gap: 30px;
                grid-template-columns: 8.5fr 1.5fr;
                margin: auto;
                margin-top: 40px;

                .schedual {
                    display: flex;
                    gap: 20px;

                    button {
                        padding: 15px;
                        border-radius: 25px;
                        border: 1px solid #FFF9F9;
                        font-size: 1.5rem;
                        background-color: white;
                        color: black;
                        position: relative;

                        i {
                            position: absolute;
                            right: 10%;
                            top: 30%;
                        }

                        .fa-location-dot {
                            color: #21408E;
                        }

                        .fa-calendar-days {
                            color: #F1BC00;
                        }
                    }
                }

                button {
                    flex: 1;
                    padding: 15px;
                    border-radius: 25px;
                    border: 1px solid #FFF9F9;
                    font-size: 1.5rem;
                    background-color: #21408E;
                    color: white;
                }

            }
        }

        .our_services {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 30px;
            gap: 10px;

            .car {
                background-image: url(./car.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .line {
                display: grid;
                grid-template-columns: 1fr 4fr;
                gap: 30px;
                width: 80%;

                .box {

                    display: grid;
                    grid-template-rows: repeat(4, 1fr);
                    gap: 10px;

                    h1 {
                        font-size: 2.5rem;
                    }

                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.8rem;
                    }

                    .chia1 {
                        margin-bottom: 30px;
                        align-self: end;

                        h1 {
                            align-self: end;
                            color: #21408E;
                        }

                    }

                    .chia {
                        margin-bottom: 30px;

                        img {
                            width: 100%;
                            height: 100%;

                        }
                    }
                }

            }
        }

    }

    /* laptop */
    @media screen and (min-width: 1025px) {
        main {

            /* .lambo {
                background-color: #C4C4C4;

                img {
                    padding-top: 30px;
                    padding-right: 10px;
                }
            } */
        }


    }

    /* Tablet */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        body {
            font-size: 1.5rem;
        }

        header {
            grid-template-columns: 7fr 3fr;

            .left {
                ul {
                    display: none;
                }

                .fa-bars {
                    display: block;
                }
            }


        }

        main {
            .lambo {
                .safer {
                    h1 {
                        font-size: 1.2rem;
                    }

                    p {
                        margin-top: 20px;
                        font-size: 1.2rem;
                    }

                    button {
                        font-size: 0.8rem;
                        padding: 5px 15px;

                    }
                }
            }

            .book_car {
                h1 {
                    font-size: 2rem;
                }

                .location {
                    .schedual {
                        button {
                            padding: 10px;
                            font-size: 1.2rem;
                        }
                    }

                    button {
                        padding: 10px;
                        font-size: 1.2rem;
                    }
                }
            }

            .our_services {
                .line {
                    width: 85%;

                    .box {
                        h1 {
                            font-size: 2rem;
                        }

                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    /* Mobile */
    @media screen and (max-width: 767px) {
        body {
            font-size: 1.5em;
        }

        header {
            grid-template-columns: 5.5fr 4.5fr;

            .left {
                ul {
                    display: none;
                }

                .fa-bars {
                    display: block;
                }
            }

        }

        main {
            .lambo {
                .safer {

                    h1 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 0.6rem;
                        padding: 5px 10px;

                    }
                }
            }

            .book_car {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }

                .location {
                    .schedual {
                        button {
                            padding: 8px;
                            font-size: 1rem;
                        }
                    }

                    button {
                        padding: 8px;
                        font-size: 1rem;
                    }
                }
            }

            .our_services {
                .line {
                    width: 90%;

                    .box {
                        h1 {
                            font-size: 1.7rem;
                        }

                        h2 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }