* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

header {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;

    ul {
        display: flex;
        gap: 10px;

        li:nth-child(1) {
            font-weight: bold;
            color: red;
        }

    }
}

main {
    margin-top: 50px;

    .box-img {

        width: 60%;
        margin: auto;
    }

    h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 5rem;
        margin-bottom: 20px;
    }

    p {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    hr {
        width: 50%;
        margin: auto;
        border: 1px solid black;
        margin-bottom: 30px;
    }

    .articles {
        margin-top: 50px;
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }
}

footer {
    padding-top: 60px;
    background-color: black;
    color: white;
    text-align: center;

    p {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    ul {
        text-decoration: underline;
        padding-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-bottom: 30px;
    }
}