* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {

    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .user {
        font-size: 2rem;
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .left {
        display: flex;
        gap: 20px;
        align-items: center;

        i {
            font-size: 1.5rem;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;

        ul {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: 10px;
        }

        i {
            font-size: 2rem;
        }
    }

}

/* Laptop */
@media screen and (max-width:1024px) {}

/* Tablet */
@media screen and (max-width:768px) {}

/* Mobile */
@media screen and (max-width:767px) {
    header {
        background-color: blue;

        .user {
            display: block;
        }

        .fa-bars {
            display: block;

        }

        .right {
            order: -1;
            position: relative;

            &:hover ul {
                display: block;
            }

            ul {
                display: none;
                position: absolute;
                flex-direction: column;
                gap: 0;
                background-color: black;
                bottom: 0;
                transform: translateY(100%);

                li {
                    padding: 5px 10px;
                    border-bottom: 1px solid white;
                    width: 100%;
                    text-align: center;
                }
            }

            .fa-universal-access {
                display: none;
            }
        }

    }

}