* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;

}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
}

main {

    .home {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        background-color: black;
        color: white;
        display: flex;
        gap: 40px;
        font-size: 2rem;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;

        li:nth-child(1) {
            position: relative;

            &:hover .sub_menu {
                display: block;
            }

            .sub_menu {
                position: absolute;
                display: none;
                z-index: 1;

                p {
                    background-color: black;
                    color: red;
                    padding: 5px 10px;

                    &:hover {
                        background-color: gray;
                        color: black;
                    }
                }
            }
        }
    }

    .anh {
        width: 80%;
        margin: auto;

        .up {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;


            .box {
                position: relative;

                h1 {
                    position: absolute;
                    color: white;
                    bottom: 40px;
                    left: 30px;
                }

                p {
                    position: absolute;
                    color: white;
                    bottom: 20px;
                    left: 30px;
                }
            }
        }

        .down {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            position: relative;

            .box {
                animation: manh 1s ease-in 4 alternate;

                h2 {
                    position: absolute;
                    color: white;
                    bottom: 40px;
                    width: 25%;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes manh {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1) rotate(360deg);

    }
}