* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;

}

li {
    list-style: none;
}

header {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10px;
    margin-bottom: 50px;

    .left {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;

        .img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;

        }

        .in4 {
            display: flex;
        }
    }

    .right {
        font-size: 1.5rem;
        padding-left: 500px;
        color: gray;

        ul {
            display: flex;
            gap: 20px;
        }
    }
}

main {
    .box_img {
        /* height: 500px; */
        margin: auto;
        border-radius: 10px;
        overflow: hidden;

    }

    .ads {
        width: 60%;
        margin: auto;
        background-color: rgb(208, 208, 208);
        margin-top: 60px;
        margin-bottom: 70px;
        padding: 20px 20px;
        border-radius: 10px;

        p {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    }

    h1 {
        margin-bottom: 20px;
    }

    .post {
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .box {

            border: 1px solid black;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .box_imgg {
                /* height: 250px; */
                /* margin-bottom: 30px; */
                border-radius: 10px;
                overflow: hidden;
            }

            a {
                background-color: rgb(233, 233, 233);
                padding: 5px;
                border-radius: 5px;
                color: blue;
                width: 86px;
            }

            h2 {
                /* margin-top: 20px; */
                font-size: 1.5rem;
                /* margin-bottom: 20px; */

            }

            .down {
                display: flex;
                gap: 10px;
                align-items: center;

                .img {

                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;

                }

                p {
                    color: grey;
                    margin-left: 10px;

                }
            }

        }


    }

    .view {
        text-align: center;

        p {
            display: inline-block;
            margin-top: 30px;

            color: gray;
            border: 1px solid black;
            padding: 5px;
            border-radius: 5px;

        }
    }



}

footer {



    background-color: gainsboro;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    padding-top: 40px;

    .box1 {
        p {
            margin-top: 15px;
            font-size: 1rem;
            color: grey;
            margin-bottom: 15px;
        }
    }

    .box2 {
        h3 {
            margin-bottom: 15px;

        }

        li {
            margin-bottom: 10px;
            margin-bottom: 10px;
            color: rgb(121, 119, 119);
        }
    }

    .box3 {
        h3 {
            margin-bottom: 15px;

        }

        li {
            margin-bottom: 10px;
            color: rgb(121, 119, 119);
        }
    }

    .box4 {
        padding: 20px;
        background-color: white;
        text-align: center;

        span {
            display: block;
            margin-top: 5px;
            color: gray;
            margin-bottom: 15px;
            font-size: 1.2rem;
        }

        .email {
            display: flex;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 10px;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 30px;
            font-size: 1.2rem;
            color: gray;
        }

        .sub {
            margin-top: 10px;
            background-color: rgb(0, 99, 228);
            margin-left: 10px;
            margin-right: 10px;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-size: 1.2rem;
        }

        hr {
            width: 100%;
        }
    }

    hr {
        margin-top: 40px;
        margin-bottom: 30px;
        border: 1px solid gray;
        grid-column: 1 / -1;
    }

    .bottom {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right {
            display: flex;
            align-items: center;
            gap: 10px;

            .img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

            }

            .in4 {
                display: flex;
            }
        }

        .left {

            padding-left: 500px;
            color: gray;

            display: flex;
            gap: 20px;

        }
    }

}