*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
main{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:repeat(3,1fr); 
  
    gap:10px;
    width: 80%;
    margin: auto;
    .gr1{
    grid-column: 1/3;
    grid-row: 1/4;
    }
    .gr2{
        grid-row: 2/4;
    }
}