* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;

    .in4 {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
}

main {
    .items {
        background-color: black;
        margin-bottom: 30px;
        margin: auto;
        color: white;
        display: flex;
        padding: 20px;
        gap: 40px;
        font-size: 1.5rem;
        width: 90%;
        margin: auto;
        border: 1px solid black;
        border-radius: 10px;



        li {
            margin-left: 20px;
            position: relative;

            &:hover .home {
                display: block;
            }

            .home {
                display: none;
                position: absolute;
                color: purple;
                z-index: 1;
                background-color: red;
                padding: 5px;
            }
        }
    }

    .position {

        width: 80%;
        margin: auto;

        .up {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .box {
                position: relative;
                animation: abc 1s ease-in 4;
            }

            h1 {
                position: absolute;
                bottom: 70px;
                left: 30px;
                color: white;
            }

            p {
                position: absolute;
                bottom: 40px;
                left: 30px;
                color: white;
            }
        }

        .down {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .box {
                position: relative;
                animation: abc 1s ease-in 4 alternate;
            }

            h2 {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 30px;
                color: white;
            }
        }
    }

    .contain {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;

        p {
            color: gray;
        }

        .left {
            border: 1px solid black;
            padding: 30px;

            h1 {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 80px;
                    border: 2px solid black;
                    width: 80px;
                    bottom: 0;
                    left: 0;
                    transform: translateY(50%);

                }
            }

            hr {
                /* margin-top: 10px; */
                margin-bottom: 40px;
                width: 45%;
            }

            .big_box {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .box {
                    position: relative;
                    margin-bottom: 10px;
                    animation: abc 1s ease-in 4 alternate-reverse;

                    img {
                        height: 250px;
                    }

                    h3 {
                        position: absolute;
                        bottom: 70px;
                        color: white;
                        background-color: green;
                        padding: 10px 40px 10px 10px;
                    }

                    h2 {
                        margin-top: 10px;
                    }

                    p {
                        margin-top: 10px;

                    }

                }
            }

            .load {
                margin-top: 30px;
                background-color: green;
                text-align: center;
                padding: 30px;
                font-size: 1.5rem;

                p {
                    color: white;
                }

                border-radius: 10px;
                margin-bottom: 20px;
            }

        }

        .right {
            display: grid;
            grid-template-rows: 1fr 2fr;
            gap: 40px;

            hr {
                margin-top: 10px;
                margin-bottom: 60px;
            }

            .up {
                border: 1px solid black;
                padding: 20px;

                .app {
                    display: flex;
                    justify-content: space-around;

                    .content {
                        margin-top: 10px;
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 10px;

                        i {
                            font-size: 3rem;

                        }

                    }
                }
            }


            .down {
                border: 1px solid black;
                padding: 20px;

                .author {

                    .in4 {
                        display: flex;
                        gap: 20px;
                        margin-bottom: 30px;
                        align-items: center;

                        img {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            overflow: hidden;
                        }

                        .name {
                            p {}
                        }
                    }

                }
            }
        }
    }

    .video {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        background-color: rgb(238, 238, 238);
        padding: 30px;
        margin-bottom: 50px;


        hr {
            margin-top: 10px;
            margin-bottom: 30px;
            width: 20%;
        }

        .img {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .box {
                animation: abc 1s ease-in 4 forwards;
                position: relative;

                i {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem;

                    align-items: center;
                    width: 100%;
                }

                p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    color: white;
                    font-size: 1.5rem;
                    bottom: 20px;
                }
            }
        }
    }

    .final {
        width: 80%;
        margin: auto;

        .head {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 30px;

            .left {
                border: 1px solid black;
                padding: 20px 30px 70px 30px;

                hr {
                    margin-top: 30px;
                }

                .title {
                    hr {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        width: 45%;
                    }

                }

                .content {
                    display: flex;
                    gap: 20px;


                    img {
                        width: 200px;
                        animation: abc 1s ease-in 4 alternate;
                    }

                    .tip {
                        display: flex;
                        flex-direction: column;
                        align-content: center;

                        p {
                            color: grey;
                            margin-top: 10px;
                            margin-bottom: 30px;
                        }

                        span {
                            color: grey;
                        }
                    }
                }
            }

            .right {
                display: grid;
                grid-template-rows: 2fr 1fr;

                .up {
                    hr {
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }

                    border: 1px solid black;
                    padding: 20px 30px 40px 30px;

                    b {
                        p {
                            margin-top: 30px;
                            color: grey;
                            margin-bottom: 20px;
                            font-size: 1.2rem;
                        }
                    }

                    .email {
                        margin: auto;
                        border: 1px solid black;
                        padding: 20px;
                        border-radius: 10px;
                        color: grey;
                    }

                    .submit {
                        display: block;
                        margin-top: 30px;
                        text-align: center;
                        background-color: green;
                        width: 30%;
                        padding: 20px;
                        border-radius: 10px;
                        margin-left: auto;
                        /* margin-right: 0; */
                    }
                }
            }
        }
    }


}

footer {
    margin-top: 100px;
    background-color: black;
    padding: 40px;
    color: rgb(193, 192, 192);
    text-align: center;
}

/* @keyframes abc {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1) rotate(360deg);

    }
} */