* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


header {
  background-image: url(./Mask.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;

  .top {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      img {
        width: 120px;
        /* height: 100px; */
        border-radius: 50%;
      }

      h2 {
        background: #3026CF;
        background: linear-gradient(to right, #3026CF 0%, #CF1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        color: white;
        font-size: 2rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 60px;
      color: white;

      .menu {
        display: flex;
        gap: 60px;

        li {
          background: #FF8C1D;
          background: repeating-linear-gradient(to bottom, #FF8C1D 47%, #CE15CF 76%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          font-size: 1.6rem;
        }
      }

      .fa-bars {
        display: none;
      }
    }

  }

  .anh {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    position: relative;

    i {
      position: absolute;
      font-size: 4rem;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }



  h1 {
    background: #FF0101;
    background: linear-gradient(to top left, #FF0101 24%, #00FFFD 47%, #CE15CF 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 3.5rem;
    color: white;
  }

}

main {
  .container {
    width: 80%;
    margin: auto;
    margin-top: 70px;

    .top {
      h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
      }

      .step {
        display: flex;
        gap: 40px;

        .box {
          position: relative;

          .content {
            position: absolute;
            bottom: 30px;
            left: 20px;

            h3 {
              color: white;
              font-size: 2.5rem;
              margin-bottom: 10px;
            }

            p {
              color: rgb(169, 168, 168);
              margin-bottom: 10px;
              font-size: 1.5rem;
            }



          }

          .anh {
            width: 200px;
            position: absolute;
            top: -31px;
            left: -38px;

            h4 {
              position: absolute;
              top: 45px;
              right: 90px;
              text-align: center;
              font-size: 1.3rem;
              color: white;
            }
          }
        }
      }
    }

    .down {
      margin-top: 50px;

      h2 {
        margin-top: 30px;
        color: rgb(79, 78, 78);
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
      }


      .avatar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;

        .box1 {
          .anh {
            position: relative;
            width: 180px;
            height: 180px;
            margin: auto;

            img {
              border-radius: 50%;
              border: 5px solid black;
            }


            .music {
              position: absolute;
              background-color: red;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              transform: translate(50%, -50px);
              left: 50%;
              border: 3px solid black;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: yellow;
                font-size: 1.5rem;
              }
            }
          }

          .content {
            h4 {
              margin-top: 20px;
              font-size: 1.7rem;
            }

            p {
              font-size: 1.5rem;
              color: rgb(106, 106, 106);
            }
          }
        }

        .box2 {
          .anh {
            position: relative;
            width: 180px;
            height: 180px;
            margin: auto;

            img {
              border-radius: 50%;
              border: 5px solid black;
            }


            .music {
              position: absolute;
              background-color: blue;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              transform: translate(50%, -50px);
              left: 50%;
              border: 3px solid black;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: pink;
                font-size: 1.5rem;
              }
            }
          }

          .content {
            h4 {
              margin-top: 20px;
              font-size: 1.7rem;
            }

            p {
              font-size: 1.5rem;
              color: rgb(106, 106, 106);
            }
          }
        }

        .box3 {
          .anh {
            position: relative;
            width: 180px;
            height: 180px;
            margin: auto;

            img {
              border-radius: 50%;
              border: 5px solid black;
            }


            .music {
              position: absolute;
              background-color: rgb(47, 255, 0);
              border-radius: 50%;
              height: 50px;
              width: 50px;
              transform: translate(50%, -50px);
              left: 50%;
              border: 3px solid black;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: brown;
                font-size: 1.5rem;
              }
            }
          }

          .content {
            h4 {
              margin-top: 20px;
              font-size: 1.7rem;
            }

            p {
              font-size: 1.5rem;
              color: rgb(106, 106, 106);
            }
          }
        }

        .box4 {
          .anh {
            position: relative;
            width: 180px;
            height: 180px;
            margin: auto;

            img {
              border-radius: 50%;
              border: 5px solid black;
            }


            .music {
              position: absolute;
              background-color: yellow;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              transform: translate(50%, -50px);
              left: 50%;
              border: 3px solid black;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: rgb(244, 0, 228);
                font-size: 1.5rem;
              }
            }
          }

          .content {
            h4 {
              margin-top: 20px;
              font-size: 1.7rem;
            }

            p {
              font-size: 1.5rem;
              color: rgb(106, 106, 106);
            }
          }
        }
      }

      button {
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        color: rgb(22, 63, 225);
        border: 2px solid rgb(22, 63, 225);
        background-color: white;
        margin-bottom: 40px;

        b {
          padding: 23px;
          font-size: 1.5rem;
        }
      }
    }
  }


  .discover {
    background-color: rgba(7, 6, 6, 0.792);
    padding: 30px 0px;
    color: white;
    margin-bottom: 60px;

    h1 {
      font-size: 3rem;
      text-align: center;
      padding-bottom: 20px;
    }

    .holiday {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 80%;
      margin: auto;

      img {
        height: 250px;
      }

    }
  }

  .app {
    width: 90%;
    margin: auto;
    position: relative;

    .muiten {
      .left {
        position: absolute;
        background-color: rgb(231, 231, 231);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        top: 35%;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
        }
      }

      .right {
        position: absolute;
        background-color: rgb(231, 231, 231);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        right: 0;
        top: 35%;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
        }
      }
    }

    .fb {
      h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 50px;
      }

      .p1 {
        font-size: 1.8rem;
        color: rgb(106, 106, 106);
        text-align: center;
        margin-bottom: 50px;
      }

      .p2 {
        display: none;
        font-size: 1.8rem;
        color: rgb(106, 106, 106);
        text-align: center;
        margin-bottom: 50px;
      }

      .p3 {
        display: none;
        font-size: 1.8rem;
        color: rgb(106, 106, 106);
        text-align: center;
        margin-bottom: 50px;
      }

      .bossfb {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 50px;

        img {
          border: 5px solid black;
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }

        .review {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h2 {
            font-size: 2rem;
          }

          ul {
            display: flex;
            gap: 10px;

            i {
              font-size: 1.5rem;
            }

            li:nth-child(1) {
              color: orange;
            }

            li:nth-child(2) {
              color: orange;
            }

            li:nth-child(3) {
              color: orange;
            }

            li:nth-child(4) {
              color: rgb(194, 192, 192);
            }

            li:nth-child(5) {
              color: rgb(194, 192, 192);
            }
          }
        }
      }
    }
  }

  .final {
    margin-bottom: 50px;

    h1 {
      margin-top: 80px;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 50px;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 50px;
      color: gray;
    }

    .input {
      margin: auto;
      width: 80%;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 30px;

      input {
        width: 100%;
        padding: 15px 20px;
        font-size: 1.8rem;
        border-radius: 5px;
        border: 3px solid rgb(163, 163, 163);
        color: rgb(216, 216, 216);
      }

      button {
        padding: 15px 20px;
        font-size: 1.8rem;
        border: 3px solid rgb(0, 198, 233);
        background-color: white;
        color: rgb(0, 198, 233);
        border-radius: 15px;
      }
    }
  }
}

footer {
  background-color: rgb(1, 1, 68);
  color: white;
  margin: auto;

  padding: 30px 0px;


  .top {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: start;

    .img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 5px;

      img {
        width: 120px;
        /* height: 100px; */
        border-radius: 50%;
      }
    }
  }

  .center {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    .table {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;


      .box {
        font-size: 1.5rem;

        h3 {
          text-align: center;
          margin-bottom: 20px;
        }

        li {

          color: gray;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }

  .end {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    p {
      font-size: 1.2em;
    }

    .icon {
      display: flex;
      gap: 5px;
      font-size: 3em;
      align-items: center;
    }
  }
}

/* laptop */
@media screen and (min-width: 1025px) {
  .discover {
    .holiday {
      .minibox1 {
        grid-column: 2/4;
      }

      .minibox2 {
        grid-column: 1/3;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    .top {
      ul {
        .menu {
          gap: 30px;
        }
      }

    }

    .anh {
      i {
        font-size: 3rem;
      }
    }

  }

  main {
    .container {
      .top {
        .step {
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;

          .box {
            width: calc(100%/2 - 10px);
          }
        }
      }

      .down {
        .avatar {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .discover {
      .holiday {
        .minibox1 {
          grid-column: 2/4;
        }

        .minibox2 {
          grid-column: 1/3;
        }
      }
    }

    .app {
      width: 97%;

      .muiten {
        .left {
          width: 70px;
          height: 70px;
          top: 70px;

          i {
            font-size: 2.2rem;
          }
        }

        .right {
          width: 70px;
          height: 70px;
          top: 70px;

          i {
            font-size: 2.2rem;
          }
        }
      }

      .fb {
        h1 {
          font-size: 2.2rem;
          margin-bottom: 20px;
        }

        .p1 {
          display: none;
        }

        .p2 {
          display: block;
          font-size: 1.5rem;
          margin-bottom: 30px;
          color: rgb(106, 106, 106);
          text-align: center;

        }

        .bossfb {
          gap: 30px;

          img {

            width: 100px;
            height: 100px;
          }

          .review {

            gap: 15px;

            h2 {
              font-size: 1.5rem;
            }

            ul {
              gap: 8px;
            }
          }
        }
      }
    }

    .final {
      margin-bottom: 50px;

      h1 {
        margin-top: 100px;
        font-size: 2.2rem;
        margin-bottom: 40px;
      }

      p {
        font-size: 1.6rem;
        margin-bottom: 40px;
      }

      .input {
        width: 90%;
        grid-template-columns: 2.2fr 1fr;
        gap: 20px;

        input {
          padding: 15px;
          font-size: 1.5rem;
        }

        button {
          padding: 15px;
          font-size: 1.5rem;
        }
      }
    }
  }

  footer {
    .top {
      width: 70%;

      .img {
        /* padding-top: 40px; */
        /* margin-bottom: 100px; */

        h2 {
          font-size: 1.2rem;
        }

        img {
          width: 100px;
        }
      }
    }

    .center {
      .table {
        gap: 50px;

        .box {
          font-size: 1rem;
          /* margin-bottom: 70px; */

          h3 {
            text-align: center;
            margin-bottom: 10px;
          }


        }
      }
    }


    .end {
      p {
        font-size: 1rem;
      }

      .icon {


        i {
          font-size: 2rem;
        }
      }
    }
  }

}


/* Mobile */
@media screen and (max-width: 767px) {
  header {
    .top {
      ul {
        position: relative;

        .fa-bars {
          display: block;
          font-size: 2rem;
          margin-top: -50px;
        }

        &:hover .menu {
          display: block;
        }

        .menu {
          display: none;
          position: absolute;
          flex-direction: column;
          background-color: black;
          color: white;
          bottom: 0;
          transform: translateY(100%);
          right: 0;
          gap: 0;

          li {
            padding: 5px 10px;
            border-bottom: 1px solid white;

            &:hover {
              background-color: antiquewhite;
              color: black;
            }
          }
        }
      }

    }

    .anh {
      i {
        font-size: 2rem;
      }
    }
  }

  main {
    .container {
      .top {
        .step {
          flex-direction: column;
        }
      }

      .down {
        .avatar {
          grid-template-columns: 1fr;

          .box {
            .anh {
              img {
                width: 200px;
                height: 200px;

              }

              .music1 {
                right: 250px;

                .music {
                  img {
                    width: 60px;
                    height: 60px;
                  }

                  i {
                    font-size: 2rem;

                  }
                }
              }
            }

            .content {
              h4 {
                margin-top: 20px;
                font-size: 1.8rem;
                margin-bottom: 20px;
              }

              .p1 {
                display: none;
              }

              .p2 {
                display: none;
              }

              .p3 {
                display: block;
                margin-bottom: 50px;
                font-size: 1.7rem;
              }
            }
          }
        }

        button {
          width: 95%;
          border-radius: 25px;
          justify-content: center;
          margin-bottom: 40px;

          b {
            font-size: 2rem;
          }
        }

      }
    }

    .discover {
      .holiday {
        grid-template-columns: 1fr;

        img {
          height: 250px;
        }
      }
    }

    .app {
      width: 97%;

      .muiten {
        .left {
          width: 0px;
          height: 0px;
          top: 140px;
          left: 30px;

          i {
            font-size: 3rem;
          }
        }

        .right {
          width: 0px;
          height: 0px;
          top: 140px;
          right: 30px;

          i {
            font-size: 3rem;
          }
        }
      }

      .fb {
        h1 {
          font-size: 3.2rem;
        }

        .p1 {
          display: none;
        }

        .p2 {
          display: none;
        }

        .p3 {
          display: block;
          font-size: 2.5rem;
        }

        .bossfb {
          gap: 40px;

          img {
            width: 150px;
            height: 150px;
          }

          .review {

            gap: 25px;

            h2 {
              font-size: 2rem;
            }

            ul {
              gap: 5px;

              i {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .final {
      h1 {
        font-size: 3rem;

      }

      p {
        font-size: 2.5em;
        margin-bottom: 40px;
      }

      .input {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 10px;

        input {
          padding-left: 35px;
          font-size: 2rem;
        }

        button {
          font-size: 2rem;

        }
      }
    }
  }

  footer {
    .top {
      width: 60%;

      .img {
        /* padding-top: 60px; */
        margin-bottom: 40px;

        h2 {
          font-size: 1.2rem;
        }

        img {
          width: 80px;
        }
      }
    }

    .center {
      width: 100%;
      margin: auto;

      .table {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);

      }

    }

    .end {
      p {
        font-size: 20px;
      }

      icon {

        i {
          font-size: 1px;
        }
      }

    }
  }
}