* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
    }

    .icon {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        border: 1px solid orange;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: orange;
        }

        .fa-magnifying-glass {
            color: green;
        }
    }

    .lock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;

        .fa-lock {
            font-size: 2rem;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: 50%;
            width: 20px;
            height: 20px;

            top: 0;
            transform: translate(50%, 5%);
        }
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;

        .fa-user {
            font-size: 2rem;
        }
    }
}

.nav-silde {
    padding: 5% 10%;
    background-image: url(https://themewagon.github.io/fruitables/img/hero-img.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .search {
        h6 {
            color: orange;
            font-size: 1.5rem;
        }

        h1 {
            color: green;
            font-weight: bold;
            font-size: 3.5rem;
        }

        .submit {
            position: relative;


            input {
                width: 80%;
                padding: 10px;
                border-radius: 30px;
                border: 1px solid orange;
            }

            button {
                padding: 10px 20px;
                border-radius: 30px;
                border: 1px solid orange;
                position: absolute;
                right: 20%;
                bottom: 0;
                background-color: green;
                color: white;

                &:hover {
                    background-color: orange;
                }
            }
        }
    }

    .carousel-item {
        height: 350px;
        background-color: orange;
        border-radius: 20px;
        position: relative;

        img {
            border-radius: 20px;
        }

        p {
            padding: 10px 20px;
            border-radius: 20px;
            background-color: orange;
            color: white;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    .carousel-control-prev {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    .carousel-control-next {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.free {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    margin: auto;
    position: relative;

    &::after {
        content: "";
        width: 30px;
        height: 30px;
        background-color: orange;
        position: absolute;
        bottom: 0;
        transform: translateY(30%) rotate(45deg);
    }

    .fa-car-side {
        color: white;
        font-size: 2rem;
    }
}

.org {
    li {
        background: rgb(235, 234, 234);
        padding: 10px;
        border-radius: 20px;
        white-space: nowrap;
        width: 120px;
        text-align: center;
    }

    li:nth-child(1) {
        background-color: orange;
        color: white;
    }

}

.grapes {
    .anh {
        p {

            top: 10px;
            left: 10px;
            background: orange;
            padding: 4px 15px;
            border-radius: 10px;
            color: white;
        }
    }

    .card-body {
        text-align: center;
    }

    .add {
        border: 1px solid orange;
        border-radius: 10px;
        padding: 5px 10px;

        p {
            margin: 0;
        }
    }


}