* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;

} */

header {
  background-image: url(./Mask.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 170px;

  position: relative;

  .anh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 550px;


    i {
      position: absolute;
      font-size: 4rem;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .top {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      img {
        width: 120px;
        /* height: 100px; */
        border-radius: 50%;
      }

      h2 {
        color: white;
      }
    }

    .right {
      ul {
        display: flex;
        align-items: center;
        gap: 60px;
        color: white;

        li {
          font-size: 1.3rem;
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
  }

}

main {
  .container {
    width: 80%;
    margin: auto;

    .top {
      margin-bottom: 100px;

      h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
      }

      .step {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .box {
          position: relative;

          .content {
            h3 {
              color: white;
              font-size: 2.2rem;
              margin-bottom: 10px;
            }

            p {
              color: rgb(169, 168, 168);
              margin-bottom: 10px;
              font-size: 1.2rem;
            }

            position: absolute;
            bottom: 10px;
            left: 20px;
          }

          .anh {
            width: 200px;
            position: absolute;
            top: -31px;
            left: -38px;

            h4 {
              position: absolute;
              top: 45px;
              right: 90px;
              text-align: center;
              font-size: 1.3rem;
              color: white;
            }
          }
        }
      }
    }

    .down {
      h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
      }

      .avatar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;

        .box {
          .anh {
            position: relative;

            img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }

            .music1 {
              position: absolute;
              bottom: 5px;
              right: 35px;

              .music {
                position: relative;

                img {
                  width: 50px;
                  height: 50px;
                }

                i {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: white;
                  font-size: 1.5rem;
                }
              }
            }
          }

          .content {
            h4 {
              margin-top: 20px;
              font-size: 1.7rem;
              margin-bottom: 20px;
            }

            p {
              font-size: 1.5rem;
              color: rgb(106, 106, 106);
            }
          }
        }
      }

      button {
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        color: rgb(22, 63, 225);
        border: 2px solid rgb(22, 63, 225);
        background-color: white;
        margin-bottom: 40px;

        b {
          padding: 23px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .background {
    background-color: rgba(7, 6, 6, 0.792);
    color: white;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 80px;

    .container {
      width: 80%;

      h1 {
        margin-top: 60px;
        padding-top: 50px;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 80px;
      }

      .anh {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;

        .box1 {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
        }

        .box2 {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 10px;
        }

        .box3 {
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 10px;
        }
      }
    }
  }

  .contain {
    width: 90%;
    margin: auto;
    position: relative;

    .muiten {
      .left {
        position: absolute;
        background-color: rgb(231, 231, 231);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        top: 35%;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
        }
      }

      .right {
        position: absolute;
        background-color: rgb(231, 231, 231);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        right: 0;
        top: 35%;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
        }
      }
    }

    .fb {
      h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 50px;
      }

      p {
        font-size: 1.5rem;
        color: rgb(106, 106, 106);
        text-align: center;
        margin-bottom: 50px;
      }

      .bossfb {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 50px;

        img {
          width: 150px;
          height: 150px;
        }

        .review {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h2 {
            font-size: 1.5rem;
          }

          ul {
            display: flex;
            gap: 10px;

            i {
              font-size: 1.5rem;
            }

            li:nth-child(1) {
              color: orange;
            }

            li:nth-child(2) {
              color: orange;
            }

            li:nth-child(3) {
              color: orange;
            }

            li:nth-child(4) {
              color: rgb(194, 192, 192);
            }

            li:nth-child(5) {
              color: rgb(194, 192, 192);
            }
          }
        }
      }
    }
  }

  .final {
    margin-bottom: 50px;

    h1 {
      margin-top: 80px;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 50px;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 50px;
      color: gray;
    }

    .input {
      margin: auto;
      width: 80%;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 30px;

      input {
        width: 100%;
        padding: 15px 20px;
        font-size: 1.8rem;
        border-radius: 5px;
        border: 1px solid rgb(163, 163, 163);
        color: rgb(216, 216, 216);
      }

      button {
        padding: 15px 20px;
        font-size: 1.8rem;
        border: 1px solid rgb(0, 198, 233);
        background-color: white;
        color: rgb(0, 198, 233);
        border-radius: 15px;
      }
    }
  }
}

footer {
  background-color: rgb(1, 1, 68);
  color: white;

  .top {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: start;

    .img {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 5px;
      margin-bottom: 130px;

      img {
        width: 120px;
        /* height: 100px; */
        border-radius: 50%;
      }
    }
  }

  .center {
    width: 70%;
    margin: auto;

    .table {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 200px;

      .box {
        font-size: 1.5rem;
        margin-bottom: 100px;

        b {
          li:nth-child(1) {
            margin-bottom: 40px;
            color: white;
          }
        }

        li {
          color: gray;
          margin-bottom: 10px;
        }
      }
    }
  }

  .end {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 1.2rem;
    }

    .icon {
      display: flex;
      gap: 5px;
      font-size: 3rem;
      margin-bottom: 80px;
    }
  }
}

/* laptop */
@media screen and (max-width: 1024px) {}

/* Tablet */
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    background-color: rgb(183, 255, 0);
  }
}